*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.card  {
    width: 400px;
    padding: 2rem 1rem;
    border-radius: 10px;
    border: 2px solid red;
    text-align: center;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
}
img{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}
input{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
}
button{
    display: block;
    margin: 0 auto;
    margin-bottom: 1rem;
    width: 80px;
    text-transform: capitalize;
}